<div class="container pt-2">
    <table class="table" style="border-color: white">
        <tbody>
            <tr>
                <td colspan="3" class="text-center"><h3>RELATÓRIO DE TESTE</h3></td>
            </tr>
            <tr>
                @*Parametros Mais Um*@
                <td colspan="2" rowspan="4" style="max-width: 40px; vertical-align: middle">
                    <div>
                        <img style="display: flex; margin: auto"
                             class="m-auto"
                             src="~/assets/Logo.jpeg"
                             width="150"
                             height="50" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ps-5" style="padding: 0.1em;">EMPRESA: 1 - Br Gestão</td>
            </tr>
            <tr>
                <td class="ps-5" style="padding: 0.1em;">PRODUTO: 5 - Feno</td>
            </tr>
            <tr>
                <td class="ps-5" style="padding: 0.1em;">TIPO: 4 - Tifton</td>
            </tr>
        </tbody>
    </table>
</div>

<hr class="border border-success border-1 opacity-50">


