<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../wwwroot/css/site.css" />
</head>
<body>
    <div class="container bg-primary pt-2">
        <div class="row">
            <div class="col-2">
                <p>Imagem</p>
            </div>
            <div class="col-10">
                <div class="d-inline w-100 px-5">
                    <h6>
                        <p class="m-0 text-center bg-secondary">RELATÓRIO DE ESTOQUE</p>
                    </h6>
                    <p class="m-0 bg-secondary">DATA: 14/02/2023</p>
                    <p class="m-0 bg-secondary">EMPRESA: 1 - Br Gestão</p>
                    <p class="m-0 bg-secondary">PRODUTO: 5 - Feno</p>
                    <p class="m-0 bg-secondary">TIPO: 4 - Tifton</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

